* {
	margin: 0;
	padding: 0;
	text-align: center;
}
.tabber {
	height: 50px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #ccc;
	padding: 8px 0;
}
.tabber-content {
	display: flex;
}
.tabber-item {
	flex: 1;
}
.iconfont {
	font-size: 28px !important;
}
